<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Store</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./images/pages/icon.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
    {{#unless isRegisterPage}}
    <header>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i> INICIO</a></li>
                    <li><a href="/api/sessions/register"><i class="fas fa-user-plus"></i> REGISTRARSE</a></li>
                    <li><a href="/api/sessions/login"><i class="fas fa-sign-in-alt"></i> INICIAR SESIÓN</a></li>
                </ul>
            </nav>
        </div>
        <div class="logo-container">
            <img src="images/logo.png"  class="logo">
        </div>
    </header>
  
    {{/unless}}

    {{{body}}}

    {{#unless isRegisterPage}}
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Contacto</h3>
                <p>Email: info@techstore.com</p>
                <p>Teléfono: +54 11 1234-5678</p>
            </div>
            <div class="footer-section">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/api/sessions/register">Registrarse</a></li>
                    <li><a href="/api/sessions/login">Iniciar Sesión</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-section">
                <h3>Suscríbete</h3>
                <form>
                    <input type="email" placeholder="Tu email">
                    <button type="submit">Suscribirse</button>
                </form>
            </div>
        </div>
        <p>&copy; 2024 <span class="footer-logo">Tech Store</span>. Todos los derechos reservados.</p>
    </footer>
    {{/unless}}
</body>

</html>
